
#functions

exportPattern(ContrMap, ContrBB, Rmap, PreExt)

importFrom(graphics, par, mtext, legend, text, boxplot, image, plot, axis, rect, polygon, points)

importFrom(grDevices, terrain.colors, jpeg, dev.off, dev.new)

importFrom(stats, na.exclude, sd)

importFrom(utils, write.table)
