
#functions

exportPattern(ContrMap, ContrBB, Rmap, PreExt)

importFrom(beanplot, beanplot)

importFrom(graphics, par, mtext, legend, text, boxplot, image, plot, axis, rect, polygon, points)

importFrom(grDevices, terrain.colors, jpeg, dev.off, dev.new)

importFrom(raster, raster, writeRaster, setValues, res, resample, xmin, ymin, xmax, ymax)

importFrom(plotrix, color.legend)

importFrom(TeachingDemos, squishplot)

importFrom(stats, na.exclude, sd)

importFrom(utils, write.table)




